# Файл с секретными данными
.env

# Папка виртуального окружения
venv/

# Системные файлы Python
__pycache__/
*.pyc

# Системные файлы редакторов кода
.idea/
.vscode/
```    Это стандартный и очень важный набор правил для любого Python-проекта.